<div class="row">
	<div class="col-md-4 article_box">
		<div class="article">
			<!--<img src="" alt="">-->
			<div class="inner_text">
				<h2><%= link_to "プレミアリーグ", premier_path %></h2>
			</div>
		</div>
	</div>
</div>
