<div class="row">
	<div class="col-md-4">
		<div class="article">
			<div class="inner_text">
				<h2>Heading</h2>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="article">
			<div class="inner_text">
				<h2>Heading</h2>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="article">
			<div class="inner_text">
				<h2>Heading</h2>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="article">
			<div class="inner_text">
				<h2>Heading</h2>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
		</div>
	</div>
</div>
