<div class="row">
	<div class="col-md-4">
		<div class="article">
			<div class="inner_text">
				<h2><a href="#" target="_blank">Heading</a></h2>
				<p class="source_site"><a href="#" target="_blank">テストサイト</a></p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="article">
			<div class="inner_text">
				<h2><a href="#" target="_blank">Heading</a></h2>
				<p class="source_site"><a href="#" target="_blank">テストサイト</a></p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="article">
			<div class="inner_text">
				<h2><a href="#" target="_blank">Heading</a></h2>
				<p class="source_site"><a href="#" target="_blank">テストサイト</a></p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="article">
			<div class="inner_text">
				<h2><a href="#" target="_blank">Heading</a></h2>
				<p class="source_site"><a href="#" target="_blank">テストサイト</a></p>
			</div>
		</div>
	</div>
</div>
