<div class="row">
	<div class="col-md-4 article">
		<div class="bkRGBA">
			<h2>Heading</h2>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
	</div>
	<div class="col-md-4 article">
		<div class="bkRGBA">
	  	<h2>Heading</h2>
	  	<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
	</div>
	<div class="col-md-4 article">
		<div class="bkRGBA">
	  	<h2>Heading</h2>
	  	<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
	</div>
</div>
