@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 80px;
  padding-bottom: 20px;
}

/* 記事 */
.article {
	border: 1px solid #F1F1F1;
	border-radius: 5px;
	background-image: url("https://www.necoichi.co.jp/files/topics/5438_ext_06_0.jpg");
	background-size: cover;
	position: relative;
	height: 150px;
}
/* 背景透過用 */
.inner_text {
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.6);
	overflow: auto;
}
.source_site {
	font-size: 80%;
	font-color: #0B0808;
	font-style: oblique;
}
