@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  padding-top: 80px;
  padding-bottom: 20px;
}

/* 記事 */
.article {
	border: 1px solid #C3C3C3;
	border-radius: 5px;
	position: relative;
	height: 200px;
}
.article img {
	height: 100%;
	width: 100%;
}
.article h2 a {
	color: #000000;
	text-decoration: none;
	&:link {
		color: #000000;
	}
	&:visited {
	}
	&:hover {
		color: #E41F7B;
	}
	&:active {
		color: #E41F7B;
	}
}
/* 背景透過用 */
.inner_text {
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
	overflow: auto;
}
.inner_text h2 {
	font-color: #FFFFFF;
	font-weight: bold;
}
.source_site {
	font-size: 80%;
	font-color: #0B0808;
	font-style: oblique;
}

/* デバッグ */
.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}
